//FONTS
$ptsans:'PT Sans', sans-serif;
$proxima:'ProximaNova', sans-serif;
// grid
$width-sm: 576px;
$width-md: 767px;
$width-lg: 992px;
//COLORS
$white:#fefefb;
$fiolet:#9f9acf;
$brown:#665f60;
$bg:#ebebeb;
